.card{
    width: 15rem;
    height: 21rem;
position: relative;
    margin-bottom: 1rem;
}
.card img{
    object-fit: cover;
    width: 15rem;
    height: 21rem;
    cursor: pointer;
}
.card img:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}
.heading{
    position: absolute;
    top: 14px;
    left: 15px;
    color: white;
    z-index: 1;
}
.card-sm-txt{
    font-weight: 600;
    font-size: 17px;
}
.card-bg-txt{
    font-size: 28px;
}